{% extends "food/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods</title>
    </head>
<body>

    {% block body %}
        <div class="container py-5">
            <div class="row align-items-center g-5">
                <!-- Image Section -->
                <div class="col-md-6">
                    <img src="{{ item.item_image }}" class="img-fluid rounded shadow-sm" alt="{{ item.item_name }}">
                </div>

                <!-- Text Section -->
                <div class="col-md-6">
                    <h1 class="mb-3 fw-bold">{{ item.item_name }}</h1>
                    <p class="mb-4 text-muted fs-5">{{ item.item_desc }}</p>
                    <h3 class="text-primary fw-semibold mb-4">$ {{ item.item_price }}</h3>
                    <a href="{% url "food:delete_item" item.id %}" class="btn btn-outline-danger btn-lg px-4">Delete</a>
                </div>
            </div>
        </div>
    {% endblock body %}
</body>
</html>


